.elem {
  display: grid;
}
@media screen and (max-width: 1130px) {
  .elem {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .elem {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 530px) {
  .elem {
    grid-template-columns: repeat(1, 1fr);
  }
}
